main {
    background-color: black;
    color: white;
    text-align: center;

}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(1) {
    background-color: white;
    color: black;
    height: 255px;
    border-radius: 0 0 30px 30px;
    
}
section:nth-child(1)>h2 {
    font-weight: 600;
    font-size: 50px;
}
section:nth-child(2) {
  flex-direction: column;  
}
section:nth-child(2)>*{
    width: 500px;
}
section:nth-child(2)>div:nth-child(2)>input:nth-child(2) {
    width: 20px;
    font-size: 15px;
    text-align: center;
    background-color: var(--active-color);;
    border: none;
    padding: 2px;
}
section:nth-child(2)>div {
    margin: 30px 0;
    background-color: var(--active-color);;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}
section:nth-child(2) ul {
    padding: 0;
    margin: 0;
}
section:nth-child(2) li {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;

}
section:nth-child(2) li:first-child {
    margin-top: 5px;
}

section:nth-child(2) li div:nth-child(2){
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
section:nth-child(2) li div>*{
    font-size: 15px;
    margin: 0px;
}
section:nth-child(2) li div:nth-child(1){
    background-position: center;
    background-repeat:no-repeat;
    background-size:contain ;
    background-color: white;
    width: 100px;
    height: 100px;
    margin-right:10px ;
    border-radius: 15px;
}
section:nth-child(2) li a{
    
    background-color: var(--active-color);
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}
