main {
    background-color: black;
    color: white;
    text-align: center;

}
ul {
    margin: 0;
    padding: 0;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(1) {
    background-color: white;
    color: black;
    height: 255px;
    border-radius: 0 0 30px 30px;
    
}
section:nth-child(1)>h2 {
    font-weight: 600;
    font-size: 50px;
}
section:nth-child(2) {
    flex-direction: column;
    
}
section:nth-child(2) *{
    width: 500px;
}
section:nth-child(2)>div {
    margin: 30px 0;
    background-color: var(--active-color);;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}
section:nth-child(2) li {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
}
section:nth-child(2) label {
    text-align: start;
    margin-right: 5px ;
    margin-bottom: 5px;
}
section:nth-child(2) input {
    margin-bottom: 15px;
    padding: 5px;
    border:none;
}
section:nth-child(2) li>div {
    display: flex;
    align-items: center;
    
}
section:nth-child(2) li {
    margin-bottom: 15px;
}
section:nth-child(2) li>div>label {
    
    width: 100px;
}
section:nth-child(2) li>div>input {
    display: flex;
    flex-direction: row;
    width: 25px;
}
section:nth-child(2) strong {
    color: red;
    font-size: 15px;
    opacity: 50%;
}
section:nth-child(3)>div {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-bottom: 25px;
}
section:nth-child(3) a {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.25s;
}
section:nth-child(3) a:nth-child(1) {
    color: rgb(128, 0, 0);
    background-color: rgba(128, 0, 0, 0.25);
    border: 2px solid rgb(128, 0, 0);
}
section:nth-child(3) a:nth-child(2) {
    color: var(--active-color);;
    background-color: rgba(0, 128, 0, 0.25);
    border: 2px solid var(--active-color);
}
section:nth-child(3) a:nth-child(1):hover {
    color: rgb(255, 255, 255);
    background-color: rgb(128, 0, 0);
}
section:nth-child(3) a:nth-child(2):hover {
    color: rgb(255, 255, 255);
    background-color: var(--active-color);
}
